# ----------------------------
# Virtual Environment
# ----------------------------
env/
venv/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Python
# ----------------------------
__pycache__/
**/__pycache__/
*.py[cod]

# ----------------------------
# React / Node
# ----------------------------
node_modules/
dist/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Operating System
# ----------------------------
.DS_Store
Thumbs.db

faiss_index/
uploads/